page {
  height: 100%;
}
.button-box {
  width: 70%;
  margin: 50px auto;
  .at-button {
    background: red;
    border: 4px solid #fff;
  }
}

.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .title-box {
    text-align: center;
    color: red;
    font-size: 50px;
    margin-bottom: 50px;
  }
  .title-logo {
    width: 200px;
    height: 200px;
  }
}
